This example has been prepared solely to demonstrate its use and to compare it accuracy with Sklearn.

In [1]:
import pandas as pd
from KNNClassifier import KNNClassifier, random_train_test_split

Database Source:https://archive.ics.uci.edu/ml/datasets/bank+marketing

In [2]:
customers = pd.read_csv('bank_customer_survey_reduced.csv')

In [3]:
customers.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,56,management,married,tertiary,no,-762,yes,yes,cellular,11,jul,348,2,-1,0,unknown,0
1,22,student,single,secondary,no,216,no,no,cellular,8,feb,363,1,187,1,success,1
2,57,entrepreneur,married,tertiary,no,1681,no,no,cellular,25,jul,159,1,-1,0,unknown,0
3,28,admin,single,secondary,no,1408,no,no,cellular,13,aug,166,1,78,2,failure,0
4,73,retired,married,unknown,no,3443,no,no,telephone,4,sep,770,3,-1,0,unknown,1

In [4]:
customers.shape

(11302, 17)

In [5]:
customers.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y             int64
dtype: object

In [6]:
customers.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [7]:
customers.drop(["job","education","marital","contact","poutcome","day","month"], axis = 1, inplace=True)

customers.default = customers.default.replace({'yes':True,'no':False})
customers.housing = customers.housing.replace({'yes':True,'no':False})
customers.loan = customers.loan.replace({'yes':True,'no':False})

customers.default = customers.default.astype('bool')
customers.housing = customers.housing.astype('bool')
customers.loan = customers.loan.astype('bool')

customers.default = customers.default.astype('int64')
customers.housing = customers.housing.astype('int64')
customers.loan = customers.loan.astype('int64')

In [8]:
customers_Y = customers["y"]
customers_X = customers.drop(["y"],axis=1)

In [9]:
train_X, test_X, train_Y, test_Y = random_train_test_split(customers_X, customers_Y, test_size=0.2, random_state=44)

In [10]:
knn = KNNClassifier(K=9,scale="min-max",distance_metric="minkowski")
knn.fit(train_X,train_Y)
pred_Y = knn.predict(test_X)
acc, conf_matrix = knn.evaluation(test_Y, pred_Y)

In [11]:
print("acc: %"+ str(acc.values))

acc: %[0.8659885]

In [12]:
conf_matrix

Predicted   0.0  1.0   All
Actual
0          1828  149  1977
1           154  130   284
All        1982  279  2261

In [13]:
knn.classification_report(conf_matrix)

   precision   recall   f1-score

0    0.9223    0.9246    0.9235
1    0.4659    0.4577    0.4618

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
import sklearn.preprocessing as prep

In [15]:
scaler = prep.MinMaxScaler()
scaler.fit(train_X)
train_X = pd.DataFrame(scaler.transform(train_X), columns=train_X.columns)
scaler.fit(test_X)
test_X = pd.DataFrame(scaler.transform(test_X), columns=test_X.columns)

In [16]:
knn = KNeighborsClassifier(n_neighbors=9, metric='minkowski')

knn.fit(train_X, train_Y)

y_pred = knn.predict(test_X)

print(metrics.accuracy_score(test_Y,y_pred))

print(metrics.confusion_matrix(test_Y,y_pred))

print(metrics.classification_report(test_Y,y_pred))

0.8659885006634233
[[1828  149]
 [ 154  130]]
              precision    recall  f1-score   support

           0       0.92      0.92      0.92      1977
           1       0.47      0.46      0.46       284

    accuracy                           0.87      2261
   macro avg       0.69      0.69      0.69      2261
weighted avg       0.86      0.87      0.87      2261